<p id="notice"><%= notice %></p>

<p>
  <strong>Awardeddate:</strong>
  <%= @awarded.AwardedDate %>
</p>

<p>
  <strong>Awardid:</strong>
  <%= @awarded.AwardID %>
</p>

<p>
  <strong>Projectid:</strong>
  <%= @awarded.ProjectID %>
</p>

<%= link_to 'Edit', edit_awarded_path(@awarded) %> |
<%= link_to 'Back', awardeds_path %>
