<%= form_with(model: display_line) do |form| %>
  <% if display_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(display_line.errors.count, "error") %> prohibited this project-contribution association from being saved:</h2>

      <ul>
        <% display_line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ComponentContributed, 'Component Contributed' %>
    <%= form.text_field :ComponentContributed %>
  </div>

  <div class="field">
    <%= form.label :ComponentStartDate, 'Start Date' %>
    <%= form.date_select :ComponentStartDate %>
  </div>

  <div class="field">
    <%= form.label :ComponentEndDate, 'End Date' %>
    <%= form.date_select :ComponentEndDate %>
  </div>

  <div class="field">
    <%= form.label :Project, 'Select Project' %>
    <%= form.collection_select :Project_id, Project.order(:ProjectName),:id,:ProjectName, include_blank: true %>
    </div>

  <div class="field">
    <%= form.label :Contribution, 'Select Contribution Type' %>
    <%= form.collection_select :Contribution_id, Contribution.order(:ContributionType),:id,:ContributionType, include_blank: true %>
  </div>

  <div class="actions">
    <% if new_form %>
      <%= form.submit "Create Project-Contribution Association"%>
    <% else %>
      <%= form.submit "Update Project-Contribution Association"%>
    <%end%>
    
  </div>
<% end %>
