<p id="notice"><%= notice %></p>

<h1>Display Lines</h1>

<table>
  <thead>
    <tr>
      <th>Component Contributed</th>
      <th>Component Start Date</th>
      <th>Component End Date</th>
      <th>Contributed Project</th>
      <th>Contributed Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @display_lines.each do |display_line| %>
      <tr>
        <td><%= display_line.ComponentContributed %></td>
        <td><%= display_line.ComponentStartDate %></td>
        <td><%= display_line.ComponentEndDate %></td>
        <td><%= display_line.ContribProject %></td>
        <td><%= display_line.ContribType %></td>
        <td><%= link_to 'Show', display_line %></td>
        <td><%= link_to 'Edit', edit_display_line_path(display_line) %></td>
        <td><%= link_to 'Destroy', display_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Display Line', new_display_line_path %>
<%= link_to 'Back', projects_path %>
