<p id="notice"><%= notice %></p>

<p>
  <strong>Componentcontributed:</strong>
  <%= @display_line.ComponentContributed %>
</p>

<p>
  <strong>Componentstartdate:</strong>
  <%= @display_line.ComponentStartDate %>
</p>

<p>
  <strong>Componentenddate:</strong>
  <%= @display_line.ComponentEndDate %>
</p>

<p>
  <strong>Contribtype:</strong>
  <%= @display_line.ContribProject %>
</p>

<p>
  <strong>Contribtype:</strong>
  <%= @display_line.ContribType %>
</p>

<%= link_to 'Edit', edit_display_line_path(@display_line) %> |
<%= link_to 'Back', display_lines_path %>
