<p id="notice"><%= notice %></p>

<p>
  <strong>Component Contributed:</strong>
  <%= @display_line.ComponentContributed %>
</p>

<p>
  <strong>Component Start Date:</strong>
  <%= @display_line.ComponentStartDate %>
</p>

<p>
  <strong>Component End Date:</strong>
  <%= @display_line.ComponentEndDate %>
</p>

<p>
  <strong>Project Associated with the Contribution:</strong>
  <%= @display_line.Project.ProjectName %>
</p>

<p>
  <strong>Contribution Type:</strong>
  <%= @display_line.Contribution.ContributionType %>
</p>

<%= link_to 'Edit', edit_display_line_path(@display_line) %> |
<%= link_to 'Back', display_lines_path %>
