<p id="notice"><%= notice %></p>

<head>
  <style>
    h1, tr, td {
      text-align: center;
    }
  </style>
</head>
<h1>Awards</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <td>&nbsp;</td>
      <th>Link</th>
      <td>&nbsp;</td>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.AwardName %></td>
        <td>&nbsp;</td>
        <td><%= award.AwardLink %></td>
        <td>&nbsp;</td>
        <td><%= award.AwardYear %></td>
        <td><%= link_to 'Show', award %></td>
        <td><%= link_to 'Edit', edit_award_path(award) %></td>
        <td><%= link_to 'Delete', award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award', new_award_path %>
<br>
<%= link_to 'Back', projects_path %>
