<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Name</th>
      <th>Link</th>
      <th>Owner</th>
      <th>Production Date</th>
      <th>Type</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <%= form_tag projects_path, :method => "get" do %>
    <% Type.all.each do |type| %>
      <li>
      <%= label_tag(:search, type.TypeName) %>
      <%= check_box "search", "multibox", {:multiple => true }, type.TypeName, nil  %>
      </li>
    <% end %>
    <% Contribution.all.each do |cont| %>
      <li>
      <%= label_tag(:search, cont.ContributionType) %>
      <%= check_box "search", "multibox", {:multiple => true }, cont.ContributionType, nil  %>
      </li>
    <% end %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <% if project.ProjectCover.representable? %>
            <%= image_tag project.ProjectCover.representation(resize_to_limit: [100, 100]) %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/100", alt: "Download file" %>
          <% end %>
        </td>
        <td><%= project.ProjectName %></td>
        <td><%= link_to "Link", project.ProjectLink, rel: 'noopener', target: '_blank' %> </td>
        <td><%= project.ProjectOwner %></td>
        <td><%= project.ProjectEnd %></td>
        <td><%= Type.find(project.TypeID).TypeName %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<br>
<%= link_to 'Types', types_path %>
<br>
<%= link_to 'Contributions', contributions_path %>
<br>
<%= link_to 'Awards', awards_path %>
<br>
<%= link_to 'Project Awards', awardeds_path %>
<br>
<%= link_to 'Display Lines', display_lines_path %>