<p id="notice"><%= notice %></p>

<head>
  <style>
    h1, tr, td {
      text-align: center;
    }
  </style>
</head>
<h1>Projects</h1>
<%= link_to "Sign Out", destroy_admin_session_path %>
<%= link_to "Help", projects_help_path %>
<br>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<table class="table">
  <thead>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <tr>
      <th>Cover</th>
      <th>Name</th>
      <th>Link</th>
      <th>Owner</th>
      <th>Production Date</th>
      <th>Type</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

        <strong>Type</strong>
        <p></p>
        <%= form_tag projects_path, :method => "get" do %>
          <% Type.all.each do |type| %>
            <p>
            <%= check_box "search", "multibox", {:multiple => true }, type.TypeName, nil  %>
            <%= label_tag(:search, type.TypeName) %>
            </p>
          <% end %>


          <strong>Contribution</strong>
          <p></p>
          <% Contribution.all.each do |cont| %>
            <p>
            <%= check_box "search", "multibox", {:multiple => true }, cont.ContributionType, nil  %>
            <%= label_tag(:search, cont.ContributionType) %>
            </p>
          <% end %>

          <%= submit_tag("Search", :name => nil) %> 
        <% end %>

        <br>

        <%= form_tag projects_path, :method => "get" do %>
          <%= submit_tag("Clear Filters", :name => nil) %> 
        <% end %>

  <br><br>
  <%= link_to 'New Project', new_project_path %>
  <br>
  <%= link_to 'Types', types_path %>
  <br>
  <%= link_to 'Contributions', contributions_path %>
  <br>
  <%= link_to 'Awards', awards_path %>
  <br>
  <%= link_to 'Project Awards', awardeds_path %>
  <br>
  <%= link_to 'Project Contributions', display_lines_path %>
  <br><br>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <% if project.ProjectCover.representable? %>
            <%= image_tag project.ProjectCover.representation(resize_to_limit: [100, 100]) %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/100", alt: "Download file" %>
          <% end %>
        </td>
        <td><%= project.ProjectName %></td>
        <td><%= link_to "Link", project.ProjectLink, rel: 'noopener', target: '_blank' %> </td>
        <td><%= project.ProjectOwner %></td>
        <td><%= project.ProjectEnd %></td>
        <td><%= Type.find(project.TypeID).TypeName %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </tbody>
</table>

