

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container-fluid">
    <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
              <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <span class="fs-5 d-none d-sm-inline">Filter</span>
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                      <li>
                          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Type</span></a>
                          <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                              <li class="w-100">
                                <%= form_tag projects_public_path, :method => "get" do %>
                                  <% Type.all.each do |type| %>
                                    <li>
                                    <%= label_tag(:search, type.TypeName) %>
                                    <%= check_box "search", "multibox", {:multiple => true }, type.TypeName, nil  %>
                                    </li>
                                  <% end %>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Contribution</span> </a>
                              <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                              <li class="w-100">
                                      <% Contribution.all.each do |cont| %>
                                        <li>
                                        <%= label_tag(:search, cont.ContributionType) %>
                                        <%= check_box "search", "multibox", {:multiple => true }, cont.ContributionType, nil  %>
                                        </li>
                                      <% end %>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link align-middle px-0">
                              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"><%= submit_tag("Search", :name => nil) %> <% end %></span>
                          </a>
                      </li>
                  </ul>
                  <hr>
              </div>
        </div>
        <div class="col py-3">
            <h1>Projects - Public View</h1>

          <head>
            <style>
            </style>

          </head>

           <%= form_tag projects_public_path, :method => "get" do %>
    <% Type.all.each do |type| %>
      <li>
      <%= label_tag(:search, type.TypeName) %>
      <%= check_box "search", "multibox", {:multiple => true }, type.TypeName, nil  %>
      </li>
    <% end %>
    <% Contribution.all.each do |cont| %>
      <li>
      <%= label_tag(:search, cont.ContributionType) %>
      <%= check_box "search", "multibox", {:multiple => true }, cont.ContributionType, nil  %>
      </li>
    <% end %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>

  <br><br>

<div class="row row-cols-1 row-cols-md-6 g-4">
    <% @projects.each do |project| %>
        <div class="col">
            <div class="card h-100">
                <% if project.ProjectCover.representable? %>
                <%= image_tag project.ProjectCover.representation(resize_to_limit: [100, 100]), class: "card-img-top"%>
                <% else %>
                <%= image_tag "https://via.placeholder.com/100", alt: "Download file" %>
                <% end %>

                <div class="card-body">
                    <h5 class="card-title">
                        <%= project.ProjectName %>
                    </h5>
                    <h6><%= Type.find(project.TypeID).TypeName %></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%= link_to 'More Info', project, :class => "btn btn-primary btn-rra" %>
                    <%= link_to "Link", project.ProjectLink, rel: 'noopener', target: '_blank', class: 'btn btn-primary' %>
                    </a>
                </div>
            </div>
        </div>
    <% end %>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


        </div>
    </div>
</div>

  <%= form_tag projects_public_path, :method => "get" do %>
    <% Type.all.each do |type| %>
      <li>
      <%= label_tag(:search, type.TypeName) %>
      <%= check_box "search", "multibox", {:multiple => true }, type.TypeName, nil  %>
      </li>
    <% end %>
    <% Contribution.all.each do |cont| %>
      <li>
      <%= label_tag(:search, cont.ContributionType) %>
      <%= check_box "search", "multibox", {:multiple => true }, cont.ContributionType, nil  %>
      </li>
    <% end %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>

  <br><br>

<div class="row row-cols-1 row-cols-md-6 g-4">
    <% @projects.each do |project| %>
        <div class="col">
            <div class="card h-100">
                <% if project.ProjectCover.representable? %>
                <%= image_tag project.ProjectCover.representation(resize_to_limit: [100, 100]), class: "card-img-top"%>
                <% else %>
                <%= image_tag "https://via.placeholder.com/100", alt: "Download file" %>
                <% end %>

                <div class="card-body">
                    <h5 class="card-title">
                        <%= project.ProjectName %>
                    </h5>
                    <h6><%= Type.find(project.TypeID).TypeName %></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%= link_to 'More Info', project, :class => "btn btn-primary btn-rra" %>
                    <%= link_to "Link", project.ProjectLink, rel: 'noopener', target: '_blank', class: 'btn btn-primary' %>
                    </a>
                </div>
            </div>
        </div>
    <% end %>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
