<p id="notice"><%= notice %></p>

<p>
  <strong>Project Name:</strong>
  <%= @project.ProjectName %>
</p>

<p>
  <strong>Project Link:</strong>
  <%= link_to "Link", @project.ProjectLink, rel: 'noopener', target: '_blank' %> 
</p>

<p>
  <strong>Project Owner:</strong>
  <%= @project.ProjectOwner %>
</p>

<p>
  <strong>Project Start:</strong>
  <%= @project.ProjectStart %>
</p>

<p>
  <strong>Project End:</strong>
  <%= @project.ProjectEnd %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= @project.ProjectDescription %>
</p>

<p>
  <strong>Project Cover:</strong>
  <% if @project.ProjectCover.representable? %>
    <%= image_tag @project.ProjectCover.representation(resize_to_limit: [100, 100]) %>
    <%= link_to @project.ProjectCover.filename, @project.ProjectCover if @project.ProjectCover.attached? %>
  <% else %>
    <%= image_tag "https://via.placeholder.com/100", alt: "Download file" %>
    <%= link_to "PlaceHolder Image", "https://via.placeholder.com/100" %>
  <% end %>
  </p>

<p>
  <strong>Contribution Line:</strong>
  <br>
  <ul>
    <% @contrib.each do |con| %>
      <% if con.ComponentContributed.blank? %>
        <li><%= con.Contribution.ContributionType %></li>
      <% else %>
        <li><%= con.Contribution.ContributionType %> - <%= con.ComponentContributed %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Awarded:</strong>
  <br>
  <ul>
  <% Awarded.where(ProjectID: @project.id).find_each do |awarded| %>
    <li><%= Award.find(awarded.AwardID).AwardName %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Type:</strong>
  <%= Type.find(@project.TypeID).TypeName %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
